/* Main button */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  height: 4.2vw;
  position: relative;
  border-radius: 1000px;
  background: #134BD5;
  color: white;
  font-size: 1.05vw;
  font-family: var(--font-body);
  border: 1px solid #134BD5;
  width: fit-content;
  min-width: 13vw;
  padding-left: 4.5vw;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn .btnText{
  padding-right: 1.5vw;
  margin-top: 2%;
  width: 100%;
  line-height: 1;
  position: relative;
  /* z-index: 2; */
}
.btn .btnCircle {
  clip-path: inset(15% calc(100% - 3.55vw) 15% .7vw round 200px);
  position: absolute;
  
  inset: 0px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: white;
  color: #000;
  transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn .btnCircleText{
  display: flex;
  width: 100%;
  gap: 2.05vw;
 
}

.btn .btnIcon {
  width: 1vw;
  height: 1vw;
  overflow: hidden;
  margin-top: 0.2vw;
  margin-left: 1.55vw;
}
.btn .btnIcon .btnPath {
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform-origin: center center;
  fill: currentColor;
}
.btn .btnIcon .btnPath:first-child {
  transform: translateX(-120%) scale(0);
}
.btn:hover {
  color: #000;
}
.btn:hover .btnIcon .btnPath:first-child {
  transform: translateX(0) scale(1);
}
.btn:hover .btnIcon .btnPath:last-child {
  transform: translateX(120%) scale(0);
}
.btn:hover .btnCircle {
  clip-path: inset(-1px round 4vw);
}

/* Data-Btn-White */
.btn[data-btn-white]{
  background: white;
  color: #000;
  border-color: white;
}
.btn[data-btn-white] .btnCircle {
  background-color: #134BD5;
  color: white;
}
.btn[data-btn-white]:hover{
  color: white;
}

/* Data-btn-b-white */
.btn[data-btn-b-white] {
  border-color: white
  
}
.btn[data-btn-b-white] .btnCircle {
  background-color: white;
  color: #000;
}
.btn[data-btn-b-white]:hover {
  border-color: white;
  color:#000;
}

/* Data-btn-white */
.btn[data-btn-2] {
  background: white;
  color: #000;
}
.btn[data-btn-2] .btnCircle{
  background-color: #134BD5;
  color: white;
}
.btn[data-btn-2]:hover{
  color: white;

}

.linkbutton{
  transition: transform 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
/*plainButton*/
.buttonPlain {
  padding: 0.8vw 1.5vw;
  min-width: 8vw;
  width: fit-content;
  max-width: 15vw;
  transition: transform 0.7s cubic-bezier(.4,0,0,1); 
}


.buttonPlain::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 250%;
  background: #134bd5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s cubic-bezier(.4,0,0,1), border-radius 0.7s cubic-bezier(.4,0,0,1);
  transform: translateY(0);
  border-radius: 40% 40% 0% 0%;
}

.buttonPlain > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: transform 0.5s cubic-bezier(.4,0,0,1);
}

.buttonPlain:hover > span {
  transform: translate(-50%, -150%);
}

.buttonPlain:hover::before {
  transform: translateY(-70%);
  border-radius: 0% 0% 0% 0%;
  transition:  all 0.7s cubic-bezier(.4,0,0,1);
}

.buttonPlain:hover {
  animation: bounce 0.7s cubic-bezier(.4,0,0,1);
}

.buttonPlain[data-btn-blue]{
  background-color: #134bd5;
  color: #fff;
  /* width: 100%; */
}
.buttonPlain[data-btn-blue]::before{
  background-color: #fff;
  color:#134bd5;

}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1024px) {
  .btn {
   
    height: 9vw;
    padding: 0 2vw;
    padding-left: 9.5vw;
    width: fit-content;
    min-width: 25vw;
    max-width: 40vw;
    font-size: 2vw;
    font-weight: 400;
  }
  .btn .btnCircle {
    clip-path: inset(12% calc(100% - 8.1vw) 12% 1.5vw round 1000px);
    position: absolute;
    inset: 0px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: white;
    color: var(--body);
    transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn .btnCircleText{
    display: flex;
    width: 100%;
    gap: 4vw;
   
  }
  .btn[data-secondary] .btnCircle {
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .btn[data-secondary]:hover .btnCircle {
    clip-path: inset(0 round 10vw);
  }
  .btn .btnCircle[data-demo] {
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  
  .btn .btnIcon {
    width: 2vw;
    height: 2vw;
    margin-left: 3.7vw;
  }
  .btn .btnCircleText {
    padding: 0 3.5% 0 0;
  }
  .btn:hover .btnCircle {
    clip-path: inset(0 round 10vw);
  }


  .btn[data-thankyou]{
    width: 47vw;
    max-width: 47vw;
  }
  .btn[data-thankyou] .btnCircle{
    clip-path: inset(1.6vw 2vw 1.6vw calc(100% - 10vw) round 4vw);
  }

  .buttonPlain {
    padding: 1.5vw 4vw;
    width: fit-content;
    min-width: 10vw;
    max-width: 30vw;
   
  }

}

@media screen and (max-width: 540px) {
  .btn {
   
    height: 15vw;
    padding: 0 3vw;
    padding-left: 15.5vw;
    width: fit-content;
    min-width: 40vw;
    max-width: 70vw;
    font-size: 3.9vw;
    font-weight: 400;
  }
  .btn .btnCircle {
    clip-path: inset(12% calc(100% - 13.05vw) 12% 2vw round 1000px);
    position: absolute;
    inset: 0px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: white;
    color: var(--body);
    transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn .btnCircleText{
    display: flex;
    width: 100%;
    gap: 7vw;
    
   
  }
  .btn[data-secondary] .btnCircle {
    padding: 0 4.5vw;
    clip-path: inset(14% 5% 15% calc(100% - 27%) round 10vw);
  }
  .btn[data-secondary]:hover .btnCircle {
    clip-path: inset(0 round 10vw);
  }
  .btn .btnCircle[data-demo] {
    padding: 0 4.5vw;
    clip-path: inset(18% 6% 18% calc(100% - 26%) round 10vw);
  }
  
  .btn .btnIcon {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 5.4vw;
  }
  .btn .btnCircleText {
    padding: 0 3.5% 0 0;
  }
  .btn:hover .btnCircle {
    clip-path: inset(0 round 10vw);
  }

  .btn[data-thankyou]{
    width: 65vw;
    max-width: 65vw;
  }
  .btn[data-thankyou] .btnCircle{
    clip-path: inset(2vw 2.5vw 2vw calc(100% - 14vw) round 1000px);
  }

  .buttonPlain {
    padding: 3vw 7vw;
   
    width: fit-content;
    min-width: 15vw;
    max-width: 40vw;
   
  }
}
